body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('ground.jpg'); /* Background image */
    background-size: cover;
    background-position: center;
    color: #100f0f; /* Text color */
}