<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChroniCure | About Us</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://fontawesome.com/icons/phone?f=classic&s=solid">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="\static\css\aboutus.css">
</head>
<body>
    <!-- Nav Bar -->
    <nav class="navbar navbar-expand-lg " style="background-color: #e3f2fd; position: static;">
        <div class="container-fluid " style="background-color: #e3f2fd;">
            <div class="left">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <div>
                        <img src="\static\image\logo.png" alt="logo" class="logo">
                    </div>
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link " aria-current="page" href="/home">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="/aboutus">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="/services">Services</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="/contact">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="/help">Help</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="right">
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/login" id="login" id="login">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link">|</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/register" id="signup">Sign Up</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <!-- Nav Bar end -->

    <div style="height: 50px;"></div> <!-- Adding some space between navbar and content -->

    <h1>About us</h1>
    <p>Empowering individuals to take control of their health and well-being</p>

    <!-- Team members -->
    <div class="team-member">
        <h2 style="margin-top: 5px; font-size: 20px">Meet Our Team</h2>
        <ul>
            <li>
                <span class="team-member-name">Sumon Chatterjee</span><br>
                Pre-final year student<br>
                Junior Developer | AIML Enthusiast | Open Source Contributor <br>
                Dept.: Computer Science & Engineering,
                Institute of Engineering & Management, Kolkata
            </li>
            <li>
                <span class="team-member-name">Dibyansh Gupta</span><br>
                Pre-final year student<br>
                Junior Developer | AIML Enthusiast | Web Developer <br>
                Dept.: Computer Science & Engineering,
                Institute of Engineering & Management, Kolkata
            </li>
            <li>
                <span class="team-member-name">Shreyansh Gupta</span><br>
                Pre-final year student<br>
                Junior ML Engineer | AIML and DL Enthusiast<br>
                Dept.: Computer Science & Engineering (AIML),
                Institute of Engineering & Management, Kolkata
            </li>
            <li>
                <span class="team-member-name">Akashdip Mazumder</span><br>
                Pre-final year student<br>
                Junior Developer | AIML Enthusiast | Web Developer <br>
                Dept.: Computer Science & Engineering,
                Institute of Engineering & Management, Kolkata
            </li>
        </ul>
    </div>

    <!-- Values -->
    <div class="values">
        <h2 style="font-size: 20px">Our Values</h2>
        <ul>
            <li><b>Compassion:</b> We treat every patient with empathy and kindness.</li>
            <li><b>Integrity:</b> We uphold the highest ethical standards.</li>
            <li><b>Innovation:</b> We embrace technology to enhance healthcare.</li>
            <li><b>Community:</b> We foster a supportive community for health enthusiasts.</li>
        </ul>
    </div>

    <!-- Contact -->
    <div class="contact">
        <p>Contact Us</p>
        <p class="contact-info">Phone: +91 85858 58585 | Email: abc@gmail.com | Visit Us: Y-12, Block-EP, Sector-V, Salt Lake Electronics Complex, Kolkata, West Bengal - 700091</p>
    </div>
</body>
</html>