<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChroniCure | Help</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://fontawesome.com/icons/phone?f=classic&s=solid">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="\static\css\help.css">
</head>

<body>

    <!-- Nav Bar -->
    <nav class="navbar navbar-expand-lg " style="background-color: #e3f2fd; position: static;">
        <div class="container-fluid " style="background-color: #e3f2fd;">
            <div class="left">


                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <div>
                        <img src="\static\image\logo.png" alt="logo" class="logo">
                    </div>


                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link " aria-current="page" href="/home">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/aboutus">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="/services">Services</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="/contact">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="/help">Help</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="right">
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav ml-auto">

                        <li class="nav-item">
                            <a class="nav-link" href="/login" id="login" id="login">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link">|</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/register" id="signup">Sign Up</a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </nav>
    <!-- Nav Bar end -->

    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center" style="width: 1200px;">
            <h1 class="display-5" style="margin-top: 20px;">How to Utilize ChroniCure</h1>
            <p class="lead">Here are the steps for administrators to navigate our website</p> 
            <p class="lead">  Click to <a href="/contact">Learn More</a></p>
        </div>
        
        <div class="container themed-container">1. Sign in to your account </div>
        <div class="container themed-container">2. Choose the disease type you wish to assess risks for</div>
        <div class="container themed-container">3. Enter the patient's vital information</div>
        <div class="container themed-container">4. Click on the Submit button</div>
        <div class="container themed-container">5. Obtain the assessment results</div>
        <div class="container themed-container">6. Recommend doctors according to your disease</div>
   
</body>

</html>